@media only screen and (max-width: 760px){
  .category-list li{
    width: 100%;
    margin: 10px auto;
  }
  .desk-disp-2{
    display: none;
  }
  .mob-text-center{
    text-align: center!important;
  }
  .valoracion-list li{
    padding: 10px 0;
    border-bottom: solid thin #222;
  }
  .valoracion-stars{
    width: 300px;
    left: 65px;
    font-size: 8px;
  }
}
@media only screen and (max-width: 991px){
  #navToggle .desk{
    display: none;
  }
  #navToggle .mobile{
    display: block;
  }
  .fixedCat{
    height: auto;
    padding: 20px 0;
    position: relative;
  }
  .mob-width{
    width: 105%;
  }
  .sr-nav{
    height:150px;
  }
  .mob-disp{
    display: block;
  }
  .desk-disp{
    display: none;
  }
  .Masthead{
    height: 105vh!important;
  }

  .nav-btns-mobile{
    width: 70%;
    min-width: 200px;
    height: 100vh;
    background: rgba(14, 101, 157, .5);
    background-image: url('/media/img/recursos/red.png');
    background-repeat-x: no-repeat;
    background-position: 0px 0px;
    background-size: contain;
    position: fixed;
    left: 0;
    z-index: 11;
    padding: 0;
    transition: all .2s ease;
  }
  .mobile-display-menu{
    z-index: 10;
    background: rgba(0,0,0, .8);
    position: fixed;
    width: 100%;
    height: 100vh;
    display: block;
    left: 0;
  }
  .nav-btns-mobile li{
    list-style: none;
    text-align: center;
    height: 16vh;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .nav-btns-mobile li:hover{
    background: rgba(255, 255, 255, 0.47);
  }
  .nav-btns-mobile li:hover a{
    color: #222;
    text-decoration: none;
  }
  .nav-btns-mobile li a{
    color: #FFF;
    font-size: 20px;
    width: 100%;
  }
}
