.parallax{
  position: relative;
  width: 100%;
  height: 100%;
}
.jumbotron{
  border-radius: 0!important;
}

.nav-btns{
  width: 100%;
  padding: 0;
  margin: 0;
  padding-top: 50px;
}
.nav-btns li{
  padding: 0;
  list-style: none;
  float: right;
}
.nav-btns li a{
  color: #FFF;
  font-size: 18px;
  transition: all .2s ease;
}
.nav-btns li a:hover{
  text-decoration: none;
  color: yellow;
}
.hide{
  display: none!important;
}
.hamburger-icon{
  color: #FFF;
  cursor: pointer;
}
.mobile-display-menu{
  display: none;
}
.mob-disp{
  display: none;
}
.desk-disp{
  display: block;
}
.parallax .content{
  position: absolute;
  top: 0px;
  width: 100%;
  left: 0;
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
}
.content>div{
  width: 100%;
}
.futura-light{
  font-family: 'futura-pt' ,'Raleway', sans-serif!important;
  font-weight: 300;
}
.blanco{
  color: #FFF!important;
}
.danger{
  color: red!important;
}
.success{
  color: green!important;
}
textarea {
    resize: none!important;
}
.col, .row{
  position: relative;
}
.must{
  color: #d73400;
  position: absolute;
  right: 18px;
  top: -15px;
  font-size: 12px;
}
.panel-list .col{
  max-height: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.uploadPicPrev{
  height: 100px;
  width: 100px;
  background-size: cover!important;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 50px;
  overflow: hidden;
}
.category-list{
  padding: 0;
  width: 100%;
}


.category-list li{
  list-style: none;
  padding: 0;
  float: left;
  width: 20%;
  margin: 80px auto;
  text-align: center;
  cursor: pointer;
  font-size: 23px;
}
.category-list img{
  width: 80%;
  margin: 0 auto;
  transition: all .2s ease;
}
.category-list img:hover{
  width: 82%;
}
.catSelector img{
  cursor: pointer;
  transition: all .2s ease;
  border-radius: 45px;
}
.border-separator>.col{
  border-right: solid thin #ababab;
}
.catSelector img:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.54);
}
.list-group-item-action{
  cursor: pointer;
}
.activeCat{
  border: solid 2px #f54e10;
}
.Masthead{
  min-height: 500px!important;
}
#memberCards .card{
  width: 100%;
  margin: 0 auto 60px auto;
  transition: all .2s ease;
}
#memberCards .card:hover{
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5)
}
.member{
  position: relative;
  width: 100%;
  text-align: center;
}
.member-flag{
  position: absolute;
  bottom: -20px;
  left: 30px;
  background-size: cover!important;
  width: 60px;
  height: 60px;
  border-radius: 40px;
}
.activated{
  position: relative;
  height: 100vh;
  width: 100%!important;
  top: 0;
  left: 0;
  background: #FFF;
  max-width: 100%!important;
}
.plusWidth{
  width: 80%;
}
.center-content{
  display: flex;
  align-items: center;
  height: 100%;
}
.btn-back{
  background: #d74343;
  border-top-left-radius: 0!important;
  border-top-right-radius: 0!important;
  color: #FFF;
  margin-right: 100px;
}
.fixedCat{
  position: absolute;
  bottom: 0;
  background: #FFF;
  left: 0;
  border-top: solid thin;
  padding-top: 10px;
  margin: 0 auto;
  height: 140px;
}
.fixedCat img{
  width: 30%;
}
.fixedCat img:hover{
  width: 32%;
}
.fixedCat li{
  list-style: none;
  padding: 0;
  float: left;
  width: 20%;
  margin: 0px auto;
  text-align: center;
  cursor: pointer;
  font-size: 23px;
}
.conscard  .card-header{
  background: #01b1af;
  color: #FFF;
}
.coachcard  .card-header{
  background: #f5821d;
  color: #FFF;
}
.capacard  .card-header{
  background: #92c860;
  color: #FFF;
}
.empresacard  .card-header{
  background: #30bdff;
  color: #FFF;
}
.programcard  .card-header{
  background: #d20894;
  color: #FFF;
}
.top-links{
  position: absolute;
  width: 100%;
  padding: 0;
  top: 0;
  left: 0;
  font-weight: bold;
  z-index: 9;
}
.top-links li{
  list-style: none;
  padding: 5px 20px;
  float: right;
}
.top-links button, .navigation a{
  color: #FFF;
  border: none;
  background: none;
  cursor: pointer;
}
.wedit{
  display: none!important;
}
.user-card{
  padding: 20px;
  border-radius: 20px;
  border: solid thin #bbbbbb;
  background: url('/media/img/recursos/nav_bg.jpg') center;
  background-size: cover;
  color: #FFF;
  transition: all .2s ease;
}
.user-card:hover{
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
}
.user-card .row{
  border-bottom: solid thin #bbbbbb;
}
.user-card .col{
  padding: 12px 10px;
  cursor: pointer;

}
.user-card input,.user-card select, .user-card textarea{
  background: none!important;
  border: none!important;
  border-bottom: solid thin #009c89!important;
  color: #FFF!important;
}
.user-card textarea{
  height: 150px;
}
.user-card select:focus{
  color: #000!important;
}
.user-card input, .user-card select{
  margin-top: 9px;
}
.panel-member-pic{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.panel-member-pic div{
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-size: cover!important; height:100%
}
.edit-btns{
  position: absolute;
  top: -5px;
  right: 0;
}
.span-cat{
  padding: 5px 10px;
  background: #383737;
  color: #FFF;
  font-size: 12px;
  margin: 0 5px;
  text-align: center;
}
.sr-nav{
  height:200px;
}
.mob-logo{
  margin: 55px auto;
  width: auto;
  height: 75px
}
.navigation a{
  font-size: 18px;
}
.navigation a:hover{
  color: #d4df03!important;
}
.input-results{
  width: 92%;
  padding: 0;
  position: absolute;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  z-index: 2;

}
.list-group-item:first-child{
  border-top-left-radius: 0px!important;
  border-top-right-radius: 0px!important;
}
.input-results a{
  list-style: none;
  padding: 5px 10px;
  width: 100%;
}
.languajes{
width: 100%;
padding: 0;
}
.languajes li{
  list-style: none;
  padding: 5px;
  background: #47bebe;
  color: #FFF;
  float: right;
  margin: 0 5px;
  position: relative;
}
.del-idioma{
  cursor: pointer;
}
.user-lang{
  padding: 5px;
  background: #47bebe;
  color: #FFF;
  margin: 0 5px;
}
.overflowv{
  overflow: visible!important;
}
.membresias img{
  cursor: pointer;
  border-radius: 50%;
}
.membresias img:hover{
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.58);
  border: solid #c2edff;
  border-radius: 50%;
}
.membresias .selected{
  border: solid #eda20f;
  border-radius: 50%;
}
.social-input span{
  position: absolute;
  bottom: 19px;
  font-weight: bold;
}
.social-input input{
  padding-left: 145px;
}
.contact-list{
  padding: 0;
  width: 100%;
}
.contact-list li{
  list-style: none;
  padding: 0 15px;
  width: 100%;
}
.contact-list a{
  color: #212529!important;
}
.social-list-float{
  padding: 0;
  width: 100%;
}
.social-list-float li{
  list-style: none;
  padding: 0;
  float: left;
  margin: 5px 10px;
}
.social-icons{
  width: 100%;
}
.social-icons ul{
  padding:0;
  width: 100%;
}
.social-icons li{
  list-style: none;
  padding:0 10px;
  float: right;
}

.member-picture{
  width: 120px;
  border-radius:  60px;
  height: 120px;
  position: relative;
  background-size: cover!important;
  overflow: hidden;
  margin-top: -45px;
  margin-left: 0px;
  border: solid #FFF;
}
.navigation ul li{
  list-style: none;
  float: left;
  padding: 10px;
}
.footer {
  width: 100%;
  padding: 100px 0;
  text-align: center;
  background: url('/media/img/recursos/footer-bg.png') center no-repeat;
  background-size: cover;
}
.profile-pic{
  width: 220px;
  height: 220px;
  border-radius: 110px;
  position: relative;
  margin: 0 auto;
}
.profile-pic div{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: solid 5px #FFF;
  background-size: cover!important;
  overflow: hidden;
}
.profile-cons{
  border: solid 5px #01b1af;
}
.country-list, .valoracion-list{
  padding: 0;
  width: 100%;
}
.country-list li{
  padding: 10px 15px;
  list-style: none;
  float: left;
}
.valoracion-stars{
  position: absolute;
  top: 0;
  left: 200px;
  padding-top: 10px;
  color: #00a7ff;
}
.valoracion-stars span{
  padding: 0 5px;
}
.valoracion-list li{
  list-style: none;
  padding: 10px;
  position: relative;
}
.reg-stars{
  font-size: 14px;
  margin: 10px auto;
  color: #b9b9b9;
  cursor: pointer;
}
.reg-stars div{
  float: left;
}
.active{
  color: #00a7ff;
}


.panel-nav{
  background: url('/media/img/recursos/nav_bg.jpg');
  color: #FFF;
}
.panel-nav>div{
  transition: all .2s ease;
    padding: 10px;
    cursor: pointer;
}
.panel-nav>.active{
    background: #f1f1f1;
    color: #000!important;
}
.panel-nav>.active>button{
    color: #000!important;
}
.panel-nav>.active:hover{
  background: #f1f1f1;
}
.panel-nav>div:hover{
  background: rgba(255, 255, 255, 0.51);
}
.panel-nav button{
  background: none;
  border: none;
  color: #FFF;
cursor: pointer;
}



.fade-enter-active, .fade-leave-active {
  transition: all .2s ease;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  position: absolute;
}
